{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
    <a href="{{ path('fos_user_profile_edit') }}"> <button type="button" class="btn btn-primary">Editer le profil</button></a>
{% endblock fos_user_content %}
