{% extends 'base.html.twig' %}

{%  block body %}
        <div class="row">
            <div class="col-md-12">
                <div class="admin-title">
                    <h1 class="center headline margin15">Fiche collaborateur</h1>
                    <h2 class="nom-collab" id="username" data-user="{{ user.id }}" >{{ user.firstname }}</h2>
                    <div class="space40"></div>
                    <div class="left">
                        <select class="form-control month" name="month" id="select" title="Mois">
                            <option value="0">Choix du mois</option>
                            <option value="01">Janvier 2016</option>
                            <option value="02">Février 2016</option>
                            <option value="03">Mars 2016</option>
                            <option value="04">Avril 2016</option>
                            <option value="05">Mai 2016</option>
                            <option value="06">Juin 2016</option>
                            <option value="07">Juillet 2016</option>
                            <option value="08">Août 2016</option>
                            <option value="09">Septembre 2016</option>
                            <option value="10">Octobre 2016</option>
                            <option value="11">Novembre 2016</option>
                            <option value="12">Décembre 2016</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-default margin15 right" data-toggle="modal"  data-target="#myModal2">Ajouter un jour</button>
                </div>
            </div>
        </div>
        <div id="presences">

        </div>
        <!-- ICI PRESENCES -->

    <button type="button" class="btn btn-primary right" data-toggle="modal" data-target="#myModal">
        Détails
    </button>

    <!-- Modal : Détails-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Détails de la demande</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>Date de la demande : 15/12/2015</li>
                        <li>Créateur de la demande : Gabriel</li>
                        <li>Date effective de l'absence / présence : 20/12/2015</li>
                        <li>Durée effective : 8h</li>
                        <li>Type de la demande : congé payé</li>
                        <li>Description : Pose de congé</li>
                        <li>Nom du valideur : Kévin</li>
                        <li>Date de la validation : 16/12/2015</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal : ajouter un jour-->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ajout de jour</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                        <label for="date-picker-3" class="control-label">Date début</label>
                            <div class="controls">
                                <div class="input-group">
                                    <label for="date-picker-3" class="input-group-addon btn">
                                        <i class="fa fa-calendar"></i>
                                    </label>
                                    <input id="date-picker-3" type="text" class="date-picker form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                        <label for="date-picker-3" class="control-label">Date fin</label>
                            <div class="controls">
                                <div class="input-group">
                                    <label for="date-picker-4" class="input-group-addon btn">
                                        <i class="fa fa-calendar"></i>
                                    </label>
                                    <input id="date-picker-4" type="text" class="date-picker form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Nombre d'heures</label>
                            <select class="form-control">
                                <option selected> </option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Type d'absence</label>
                            <select class="form-control">
                                <option>Congé payé</option>
                                <option>Congé sans solde</option>
                                <option>Absence école</option>
                                <option>CIF / DIF</option>
                                <option>Congé maladie</option>
                                <option>Congé maternité / paternité</option>
                                <option>Congé exceptionnel (mariage, décès, naissance...)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Type de présence</label>
                            <select class="form-control">
                                <option>Rattrapage</option>
                                <option>Heures supp</option>
                            </select>
                        </div>
                        <textarea class="form-control" rows="3" placeholder="Commentaire"></textarea>
                        <button type="submit" class="btn btn-default right space">Valider</button>
                        <div class="clear"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


    //Affiche la liste des absences/présences
    $(function (){
        var month = $("#select").val();
        var user = $('#username').attr('data-user');

        $('.month').change(function(){
            var month = $("#select").val();
            ajaxMonthCall(user, month);
        });
        ajaxMonthCall(user, month);
    });

    var add_presence_absence = "{{  path('addPresenceAbsence') }}";

    function ajaxMonthCall(user, month){
        $.ajax({
            type: "POST",
            url: add_presence_absence,
            data: {
                month: month,
                userId: user
            },
            success: function (data) {
                $('#presences').html(data);
            }
        });

    }


</script>


{% endblock %}
