<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:border-left="http://www.w3.org/1999/xhtml" xmlns:border-right="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Demande d'absence validée</title>
    </head>
    <body bgcolor="#ffffff" topmargin="0" marginheight="0">
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td align="center">
                    <table cellpadding="0" cellspacing="0" border="0" width="600" height="" bgcolor="#F8F8F8">
                        <tr>
                            <td valign="top" width="200"></td>
                            <td valign="middle" align="center" width="600" height="50">
                                <img class="logo" src="{{ asset('images/logo.png') }}" title="Bird Office Logo" />
                            </td>
                            <td valign="top" width="200"></td>
                        </tr>
                        <tr>
                            <td valign="top" width="600" height="3" colspan="3" bgcolor="#7EBDCE"></td>
                        </tr>
                    </table>
                    <table cellpadding="0" cellspacing="0" border="0" width="600" height="">
                        <tr>
                            <td valign="top" width="600" height="55" colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td valign="top" align="center" width="600" height="35" colspan="3">
                                <font face="Arial" size="1" color="#3c5166" style="font-size:16px;border-bottom: solid 1px;"><strong>Gestion du planning</strong></font>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="600" height="15" colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td valign="top" width="200"></td>
                            <td valign="top" align="center" width="200">
                                <font face="Arial" size="1" color="#c0392b" style="font-size:13px;"><strong><i>Demande non validée !</i></strong></font>
                            </td>
                            <td valign="top" width="200"></td>
                        </tr>
                        <tr>
                            <td valign="top" width="600" height="35" colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td valign="top" width="600" height="35" colspan="3">
                                <font face="Arial" size="1" color="#626262" style="font-size:13px;">Récapitulatif de la demande d'absence :</font>
                            </td>
                        </tr>
                    </table>
                    <table cellpadding="0" cellspacing="0" border="0" width="600" height="" bgcolor="#7EBDCE">
                        <tr>
                            <td valign="middle" width="120" height="35" align="center">
                                <font face="Arial" size="1" color="#ffffff" style="font-size:12px;"><strong>Date début</strong></font>
                            </td>
                            <td valign="middle" width="120" height="35" align="center">
                                <font face="Arial" size="1" color="#ffffff" style="font-size:12px;"><strong>Date fin</strong></font>
                            </td>
                            <td valign="middle" width="120" height="35" align="center">
                                <font face="Arial" size="1" color="#ffffff" style="font-size:12px;"><strong>Durée</strong></font>
                            </td>
                            <td valign="middle" width="120" height="35" align="center">
                                <font face="Arial" size="1" color="#ffffff" style="font-size:12px;"><strong>Type d'absence</strong></font>
                            </td>
                            <td valign="middle" width="120" height="35" align="center">
                                <font face="Arial" size="1" color="#ffffff" style="font-size:12px;"><strong>Commentaire</strong></font>
                            </td>
                        </tr>
                    </table>
                    <table cellpadding="0" cellspacing="0" border="0" width="600" height="" bgcolor="#ffffff">
                        <tr>
                            <td valign="middle" width="120" height="35" align="center" style="border-bottom: 1px solid #cccccc; border-left: solid 1px #cccccc; border-right:
                            solid 1px #cccccc;">
                                <font face="Arial" size="1" color="#626262" style="font-size:12px;"><strong>15/02/2016</strong></font>
                            </td>
                            <td valign="middle" width="120" height="35" align="center" style="border-bottom: 1px solid #cccccc;border-right:
                            solid 1px #cccccc;">
                                <font face="Arial" size="1" color="#626262" style="font-size:12px;"><strong>15/02/2016</strong></font>
                            </td>
                            <td valign="middle" width="120" height="35" align="center" style="border-bottom: 1px solid #cccccc;border-right:
                            solid 1px #cccccc;">
                                <font face="Arial" size="1" color="#626262" style="font-size:12px;"><strong>7h</strong></font>
                            </td>
                            <td valign="middle" width="120" height="35" align="center" style="border-bottom: 1px solid #cccccc; border-right:
                            solid 1px #cccccc;">
                                <font face="Arial" size="1" color="#626262" style="font-size:12px;"><strong>Congé payé</strong></font>
                            </td>
                            <td valign="middle" width="120" height="35" align="center" style="border-bottom: 1px solid #cccccc;border-right:
                            solid 1px #cccccc;">
                                <font face="Arial" size="1" color="#626262" style="font-size:12px;line-height: 18px">
                                    <i>Bonjour, j'aimerais poser un congé pour la journée du 15/02/2016 :-)</i>
                                </font>
                            </td>
                        </tr>
                    </table>
                    <table cellpadding="0" cellspacing="0" border="0" width="600" height="">
                        <tr>
                            <td valign="top" width="600" height="65" colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td valign="top" width="200"></td>
                            <td valign="middle" align="center" width="200" height="30" bgcolor="#7EBDCE">
                                <a href="#" target="_blank" style="text-decoration: none;display: block">
                                    <font face="Arial" size="1" color="#ffffff" style="font-size:12px;"><strong>Accéder au dashboard</strong></font>
                                </a>
                            </td>
                            <td valign="top" width="200"></td>
                        </tr>
                    </table>
                    <table cellpadding="0" cellspacing="0" border="0" width="600" height="">
                        <tr>
                            <td valign="top" width="600" height="70">&nbsp;</td>
                        </tr>
                    </table>
                    <table cellpadding="0" cellspacing="0" border="0" width="600" height="" bgcolor="#F8F8F8">
                        <tr>
                            <td valign="top" width="600" height="3" colspan="1" bgcolor="#7EBDCE"></td>
                        </tr>
                        <tr>
                            <td valign="top" width="600" height="15">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
			