{% extends 'base.html.twig' %}

{%  block body %}


    <div class="row">
        <div class="col-md-offset-3 col-md-6 admin-title">
            <h1 class="text-center">Liste des collaborateurs</h1>
            <p class="text-center">Responsable :
                <select name="manager" id="manager">
                    <option selected></option>
                    {% for manager in managers %}
                        <option value="{{ manager.id }}">{{ manager.username }}</option>
                    {% endfor %}
                </select>
            </p>
        </div>
    </div>
    <!-- Bouton execution modal -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Ajouter un Collaborateur</h4>
                </div>
                <div class="modal-body">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <button type="button" class="btn btn-default" data-toggle="modal"  data-target="#myModal">
        Ajouter un Collaborateur
    </button>
 <div id="searchContainer">

 </div>

    <script>
        console.log($('#manager').val());
        $(function (){
            $('#manager').change(function(){
                ajaxCall();
            });
            ajaxCall();
        });

        var urlpost = "{{  path('list') }}";

        function ajaxCall(){

            $.ajax({
                type: "POST",
                url: urlpost,
                data: {
                    associate: $('#manager').val()
                },
                success: function (msg) {
                    console.log(msg);
                    $('#searchContainer').html(msg);
                }
            });

        }

    </script>
{% endblock %}

