{% extends 'base.html.twig' %}

{%  block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="admin-title">
                <h1 class="center headline margin15">Liste des collaborateurs</h1>
                <div class="space40"></div>
                <div class="left">
                    <select title="Liste des collaborateurs" id="manager" class="form-control" id="select">
                        <option selected></option>
                        {% for manager in managers %}
                            <option  value="{{ manager.id }}">{{ manager.lastname }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button id="add-partner" type="button" class="btn btn-default margin15 right edit-add-user">Ajouter un Collaborateur</button>
            </div>
        </div>
    </div>

    <div id="searchContainer"></div>
    <div id="modal-edit"></div>

<script>

    $( document ).ready(function() {
    // Affiche la liste des collaborateurs pour la HP super_admin
        $(function () {
            $('#manager').change(function () {
                ajaxCall();
            });
            ajaxCall();
        });
    });
</script>

{% endblock %}