{% extends 'base.html.twig' %}

{%  block body %}
    <div class="modal fade" id="modal2" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header alert">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Détails de la demande</h4>
                </div>
                <div class="modal-body">
                    Etes-vous sûr de vouloir supprimer ce collaborateur ?
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal-delete" data-user="" data-dismiss="modal" class="delete-user btn btn-primary">Supprimer</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="admin-title">
                <h1 class="center headline margin15">Liste des collaborateurs</h1>
                <div class="space40"></div>
                <div class="left">
                    <select id="manager" class="form-control" id="select">
                        <option selected></option>
                        <option>Responsable</option>
                        {% for manager in managers %}
                            <option  value="{{ manager.id }}">{{ manager.lastname }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button id="add-partner" type="button" class="btn btn-default margin15 right">Ajouter un Collaborateur</button>
            </div>
        </div>
    </div>

    <!-- Modal : Success-->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header success">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    Le collaborateur a été ajouté avec succès !
                </div>
            </div>
        </div>
    </div>

    <div id="searchContainer"></div>
    <div id="modal-edit"></div>
{% endblock %}