.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
  -khtml-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.border-radius-detail(@tl: 5px, @tr: 5px, @br: 5px, @bl: 5px) {
  -webkit-border-radius: @tl @tr @br @bl;
  -khtml-border-radius: @tl @tr @br @bl;
  -moz-border-radius: @tl @tr @br @bl;
  -ms-border-radius: @tl @tr @br @bl;
  -o-border-radius: @tl @tr @br @bl;
  border-radius: @tl @tr @br @bl;
}
