.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
  -khtml-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.border-radius-detail(@tl: 5px, @tr: 5px, @br: 5px, @bl: 5px) {
  -webkit-border-radius: @tl @tr @br @bl;
  -khtml-border-radius: @tl @tr @br @bl;
  -moz-border-radius: @tl @tr @br @bl;
  -ms-border-radius: @tl @tr @br @bl;
  -o-border-radius: @tl @tr @br @bl;
  border-radius: @tl @tr @br @bl;
}
.page-header {
  margin: 0 auto ;
}

.margin15 {
  margin-bottom: 15px;
}
.icon-size {
  color: #a0a0a0;
  font-size: 19px;
  vertical-align: middle;
}
.h1, h1 {
  font-size: 16px;
  font-weight: lighter;
}
.navbar {
  min-height: 55px;
}
.center {
  display: inline-block;
  margin: 0 auto;  text-align: center;
}
.navbar-default {
  border-bottom: 3px solid #21a689;
}

.btn-default   {
  background: @flat-green;
  color: @white;
}
/*colors*/
@flat-green: #1abc9c;
@white: #ffffff;