/*colors*/
@flat-green: #3C5166;
@light-dark-blue: #586d82;
@flatgreen: #16a085;
@white: #ffffff;
@green-hover: #3C5166;
@soft-grey: #cccccc;
@grey-nav: #f8f8f8;
@flat-red: #c0392b;
@blue-violet: #6d879b;
@padding15: 15px;
@shadow: -2px 7px 13px -3px #ccc;
@blue-bird: #7EBDCE;
@pink-flat: #f28073;
/* Transitions */
@transition : 0.7s;
@margin: 15px;
@block: block;
@invisible: none;
 
.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
  -khtml-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.border-radius-detail(@tl: 5px, @tr: 5px, @br: 5px, @bl: 5px) {
  -webkit-border-radius: @tl @tr @br @bl;
  -khtml-border-radius: @tl @tr @br @bl;
  -moz-border-radius: @tl @tr @br @bl;
  -ms-border-radius: @tl @tr @br @bl;
  -o-border-radius: @tl @tr @br @bl;
  border-radius: @tl @tr @br @bl;
}

.btn-default,
.btn-block,
.btn-primary,
.button, html input[type="button"], input[type="reset"], input[type="submit"]{
  border: none; background: @blue-bird; color: @white; padding: 6px; font-size: 13px;
  &:hover {
    transition-duration: @transition; background: @white; color: @blue-bird; outline: solid 1px @blue-bird; text-decoration: none;
  }
  &:active {
    background: @blue-bird;
    color: @white;
  }
  &:focus {
    background: @blue-bird;
    color: @white;
  }
}

.center,.info-bulle p { margin: 0 auto;text-align: center !important}

@media screen and (max-width: 768px) {
  .navbar-brand {
    display: block; float: none; margin: 0 auto; text-align: center;
  }
}

@media screen and (max-width: 625px) {
  .visuel {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .none-mobile {
    display: none;
  }
  #modal-body > ul {
    padding-left: 15px;
  }
}

